
.nav {
    background-color: #ff1900; 
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.navLinks {
    display: flex;
    align-items: center;
    gap: 25px; /* Espacio entre enlaces */
}

.link, .disabledLink {
    color: black;
    text-decoration: none;
    font-weight: 500;
    padding: 5px 0;
    transition: color 0.2s ease-in-out;
}

.link:hover {
    color: white; /* Color blanco cuando se pasa el mouse/*



/* Estilos para el contenedor donde va el LoginSimulator */
.authSection {
    margin-left: auto;
}
}